body {
    background-color: #efefef;
}
.WheelPlanting{
    margin-top: -20px;
}
.main {
    background-color: white;
    margin: 30px;
}
.courseImage{
    cursor: pointer;
    transition: all 0.6s;
    width: 270px;
    height: 162px;
}
.courseImage:hover{
    transform: scale(1.1);
}
.indexCourseName{
    transition:0.5s;
    color: #202020;
    text-decoration: none;
    font-size: 14px
}
.indexCourseName:hover{
    color:red;
}
.indexTeacherName{
    height: 24px;line-height: 24px;color: #999;
}
.container1 {
    margin-top: 70px;
    width: 45%;
    margin-left: 30%;
}

/* 需要在一行的元素 */
.inline-style {
    display: inline-block;
}
/* 文字需要靠右 */
.font-position-right{
    text-align: right;
}
/* 注册按钮 */
.register-btn{
    margin-left: -54px;
}
