<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
    <title th:text="${session.user.iName}"></title>
    <!--<link rel="stylesheet" th:href="@{/static/css/bootstrap.css}"/>-->
    <!--<link rel="stylesheet" th:href="@{/static/css/bootstrap-theme.min.css}"/>-->
    <!--<link rel="stylesheet" th:href="@{/static/css/community.css}"/>-->
    <!--<script th:href="@{/static/js/community.css}" type="application/javascript"></script>-->
    <!--<script th:href="@{/static/js/bootstrap.min.js}" type="application/javascript"></script>-->
    <!--<script th:href="@{/static/js/jquery-3.3.1.min.js}" type="application/javascript"></script>-->

    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
    <!--<script src="/js/vue.min.js" type="application/javascript"></script>-->
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">培训管理系统</span>
            </button>
            <a class="navbar-brand" href="/">培训管理系统</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" th:action="@{'/allStudents/'+${session.user.userType}}" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" name="search"  placeholder="搜尼玛呢">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right" th:if="${session.user.userType == 0 || session.user.userType == 2}">

            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

            <h2 style="display: inline-block"><span class="glyphicon glyphicon-list" aria-hidden="true" ></span>所有学生</h2>

            <div style="margin-bottom: 10px">
                <input type="checkbox" id="selectAll" name="selectAll" />
                勾上全选
                <button class="btn btn-danger btn-md" type="button"
                        id="addStudentIntoCourseButton" onclick="return adminDeleteStudent()" >删除学生</button>
                <!--<input type="hidden" th:value="${student.student.id}" style="width:300px;" id="courseId" name="courseId" readonly  unselectable="on" />-->

            </div>
            <div class="media" th:each="student:${pagination.data}">
                <input type="checkbox" style="float: left;margin-right: 10px" class="checkb" name="chooseInfo" id="chooseInfo" th:value="${student.student.id}"/>
                学生编号:<span th:text="${student.student.id}" style="margin-right: 10px"></span>
                <div class="media-left">


                    <img class="media-object img-rounded"
                         style="width:40px;height: 40px;"
                         th:src="@{'http://localhost:8080/test/'+${student.student.headportraitUrl}}"
                         alt="头像">

                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/adminStudent/'+${student.student.id}}" th:text="${student.student.iName}"></a>
                    </h4>
                    <!--<span th:text="${question.description}"></span><br>-->
                    电话：<span class="text-desc"><span th:text="${student.student.tel}"></span></span>

                </div>
            </div>
            <!--<div th:each="student:${pagination.data}" style="float:left;margin-right: 25px">-->
                <!--<dl >-->
                    <!--<dt >-->
                            <!--<img  class="courseImage" th:src="@{'http://localhost:8080/test/'+${student.headportraitUrl}}">-->

                    <!--</dt>-->
                    <!--<dd class="indexCourseName" th:text="${student.iName}"></dd>-->
                    <!--<dd class="indexTeacherName"  th:text="${student.tel}"></dd>-->
                <!--</dl>-->

                <!--<div style="clear:both;"></div>-->
            <!--</div>-->
            <a href="/admin" th:if="${session.user.userType == 0}">返回管理员页面</a>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a  th:href="@{/allStudents/{userType}/(page=1,search=${search},userType=${session.user.userType})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/allStudents/{userType}/(page=${pagination.page - 1},search=${search},userType=${session.user.userType})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page:${pagination.pages}" th:class="${pagination.page == page}? 'active' : ' '"><a
                            th:href="@{/allStudents/{userType}/(page=${page},search=${search},userType=${session.user.userType})}" th:text="${page}"></a></li>
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/allStudents/{userType}/(page=${pagination.page + 1},search=${search},userType=${session.user.userType})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/allStudents/{userType}/(page=${pagination.totalPage},search=${search},userType=${session.user.userType})}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div style="font-size: 30px" th:if="${session.user != null}">
                <a href="/admin" th:if="${session.user.userType == 0}">返回管理员页面</a>
                <a href="/student" th:if="${session.user.userType == 1}">返回学生页面</a>
                <a href="/teacher" th:if="${session.user.userType == 2}">返回教师页面</a>
            </div>
            <h3>好好学习</h3>
            <h4>天天向上 <br></h4>
            <h4>天天向上<br></h4>
            <h4>天天向上<br></h4>
            <h4>天天向上<br></h4>
            <h4>天天向上 <br></h4>
            <h4>天天向上<br></h4>
            <h4>天天向上<br></h4>
            <h4>天天向上<br></h4>
            <h4>天天向上 <br></h4>
            <h4>天天向上<br></h4>
            <h4>天天向上<br></h4>
            <h4>天天向上<br></h4>
        </div>
        </div>

    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="updateRemnantCourse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog"  style="width: 400px">
        <div class="modal-content">

            <div>
                <h3 style="text-align: center">修改信息</h3>
                <hr>

                <div class="form-group" style="margin-left: 10px">
                    <label for="remnantCourse">剩余课时*</label>
                    <input style="width: 300px" type="text" class="form-control"
                           id="remnantCourse" placeholder="剩余课时"   required />
                </div>

            </div>

            <div  class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary "  style="width:70px;height:40px;"  onclick="updateremnantCourse()" >修改</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script language="javascript">
    function adminDeleteStudent() {
        var str="";
        var sel=document.getElementsByName("chooseInfo");//获取checkbox的值
        var courseId = $("#courseId").val();
        for( var i=0;i<sel.length;i++){
            if(sel[i].checked==true)
                str+=sel[i].value+",";
        }
        if(str==""){
            alert("请至少选择一名学生");
            return false;
        }
        var msg = "确定将这些学生移除？";
        if (confirm(msg)==true){
            $.ajax({
                type : "POST",
                contentType: "application/json;charset=UTF-8",
                url : "/deleteStudent",
                data: JSON.stringify({
                    "ids": str
                }),
                success : function(data) {
                    window.location.reload();
                },
                error : function(data) {
                    alert("移除失败!")
                    window.location.reload();

                }
            });
            return true;
        }else{
            return false;
        }
    }

    function addStudentIntoCourse() {
        var str="";
        var sel=document.getElementsByName("chooseInfo");//获取checkbox的值
        var courseId = $("#courseId").val();
        for( var i=0;i<sel.length;i++){
            if(sel[i].checked==true)
                str+=sel[i].value+",";
        }
        if(str==""){
            alert("请至少选择一名学生");
            return false;
        }
        var msg = "确定将这些学生加入本课堂？";
        if (confirm(msg)==true){
            $.ajax({
                type : "POST",
                contentType: "application/json;charset=UTF-8",
                url : "/addStudentIntoCourse",
                data: JSON.stringify({
                    "ids": str,
                    "courseId":courseId
                }),
                success : function(data) {
                    window.location.reload();
                },
                error : function(data) {
                    alert("加入失败!")
                    window.location.reload();

                }
            });
            return true;
        }else{
            return false;
        }
    }


    function openAddModal(node) {
        $("#updateRemnantCourse").modal('show');


        // var remnantCourse1 = $("#remnantCourse1").text();
        // var chose = $("#chooseInfo").val();
        //
        // alert(chose);
        var tr1 = node.parentNode.parentNode;
        //alert(tr1.rowIndex);
        // alert(tr1.cells[0].childNodes[0].value); //获取的方法一
        // alert(tr1.cells[4].childNodes[9].value);//获取学生编号
        var remnantCourse = $("#remnantCourse").val();
         window.studentId = tr1.cells[0].childNodes[0].value
        // document.getElementById("remnantCourse").value=;

    }
    function updateremnantCourse() {
        var remnantCourse = $("#remnantCourse").val();
        var expr = /\D/i;
        if (expr.test(remnantCourse)) {
            alert("不能输入非数字字符");
        }else {
            $.ajax({
                type : "POST",
                contentType: "application/json;charset=UTF-8",
                url : "/updateRemnantCourse",
                data: JSON.stringify({
                    "studentId": studentId,
                    "remnantCourse":remnantCourse
                }),
                success : function(data) {
                    if (data.type == 0){
                        alert("修改成功！");
                        window.location.reload();
                    }else {
                        alert("修改失败");
                        window.location.reload();
                    }
                }
            });
        }
    }
</script>
<script>
    $('input[name="selectAll"]').on("click",function(){
        if($(this).is(':checked')){
            $('input[name="chooseInfo"]').each(function(){
                $(this).prop("checked",true);
            });
        }else{
            $('input[name="chooseInfo"]').each(function(){
                $(this).prop("checked",false);
            });
        }
    });

</script>
</body>
</html>