<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
    <title th:text="${course.courseDescribe}"></title>
    <!--<link rel="stylesheet" th:href="@{/static/css/bootstrap.css}"/>-->
    <!--<link rel="stylesheet" th:href="@{/static/css/bootstrap-theme.min.css}"/>-->
    <!--<link rel="stylesheet" th:href="@{/static/css/community.css}"/>-->
    <!--<script th:href="@{/static/js/community.css}" type="application/javascript"></script>-->
    <!--<script th:href="@{/static/js/bootstrap.min.js}" type="application/javascript"></script>-->
    <!--<script th:href="@{/static/js/jquery-3.3.1.min.js}" type="application/javascript"></script>-->

    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
    <!--<script src="/js/vue.min.js" type="application/javascript"></script>-->
</head>
<body>
<div th:if="${session.user != null}">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">培训管理系统</span>
                </button>
                <a class="navbar-brand" href="/">培训管理系统</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right" th:if="${session.user.userType == 0 || session.user.userType == 2}">

                    <li>
                        <a th:href="@{'/course/'+${course.id}+'/students/'+${session.user.userType}}">查看本课程学生</a>
                    </li>
                    <li>
                        <a th:href="@{'/course/'+${course.id}+'/Allstudents/'+${session.user.userType}}">查看未选课学生</a>
                    </li>
                    <!--<li><a href="/profile/replies">通知  <span class="badge" th:text="${session.unreadCount}"></span></a></li>-->
                    <li>
                        <a onclick="return deleteCourse()">删除课程</a>
                    </li>
                    <li>
                        <!--<a data-toggle="modal" data-target="#updateCourseInfo" href="#"  role="button" >-->
                        <!--<span >修改课程信息</span>-->
                        <!--<span class="caret"></span>-->
                        <!--</a>-->

                        <a data-toggle="modal" data-target="#updateCourseInfo">修改课程信息</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid main">
        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                <h2 style="display: inline-block"><span class="glyphicon glyphicon-list" aria-hidden="true" ></span>课程</h2>
                <hr>
                <p><img th:src="@{'http://localhost:8080/test/'+${course.headportraitUrl}}" style="width: 500px">

                    <button data-toggle="modal" data-target="#updateCourseImage" th:if="${session.user.userType == 0 || session.user.userType == 2}" style="margin-top: 332px" type="button" class="btn btn-default">修改图片</button>
                </p>


                <div style="font-size: 25px;display: flex;margin-bottom: 40px">
                    <div style="margin-right: 40px">
                        教师：<span  th:text="${course.teacher.iName}"></span>
                    </div>
                    <div style="margin-right: 40px">
                        价格：<span  th:text="${course.price}"></span>
                    </div>
                    <div style="margin-right: 40px">
                        学生人数： <span  th:text="${course.studentCount}"></span>
                    </div>
                    <div style="margin-right: 40px">
                        上课时间： <span  th:text="${course.classTime}"></span>
                    </div>
                    <a href="/admin" th:if="${session.user.userType == 0}">返回管理员页面</a>
                    <a href="/student" th:if="${session.user.userType == 1}">返回学生页面</a>
                    <a href="/teacher" th:if="${session.user.userType == 2}">返回教师页面</a>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">


                <h3>好好学习</h3>
                <h4>天天向上 <br></h4>
                <h4>天天向上<br></h4>
                <h4>天天向上<br></h4>
                <h4>天天向上<br></h4>
                <h4>天天向上 <br></h4>
                <h4>天天向上<br></h4>
                <h4>天天向上<br></h4>
                <h4>天天向上<br></h4>
                <h4>天天向上 <br></h4>
                <h4>天天向上<br></h4>
                <h4>天天向上<br></h4>
                <h4>天天向上<br></h4>
            </div>
        </div>
    </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="updateCourseImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px">
        <form class="modal-content" action="/courseUpdateImage" method="post" enctype="multipart/form-data">

            <div  >
                <h3 style="text-align: center">更换课程图片</h3>
                <hr>
                <div class="form-group" style="margin-left: 10px">
                    <!--<label th:text="${course.teachingId}" name="teachingId"></label>-->
                    <input type="hidden" th:value="${course.teachingId}" style="width:300px;" name="teachingId" readonly  unselectable="on" />
                </div>
                <input type="hidden" th:value="${session.user.userType}" style="width:300px;" name="userType" readonly  unselectable="on" />
                <div class="form-group" style="margin-left: 10px">
                    <!--<label th:text="${course.id}" name="courseId"></label>-->
                    <input type="hidden" th:value="${course.id}" style="width:300px;" name="courseId" readonly  unselectable="on" />
                </div>

                <div class="form-group" style="margin-left: 10px">
                    <label for="file">图片*</label>
                    <input type="file" class="form-control" id="file" name="file">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="submit" class="btn btn-primary " style="width:70px;height:40px;">提交</button>

            </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="updateCourseInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog"  style="width: 400px">
        <div class="modal-content"  >
            <div  >
                <h3 style="text-align: center">修改课程</h3>
                <hr>
                <input type="hidden" th:value="${session.user.userType}" style="width:300px;" id="userType" readonly  unselectable="on" />

                <div class="form-group" style="margin-left: 10px">
                    <label >教师编号*</label>
                    <label th:text="${course.teachingId}" id="teachingId"></label>
                    <!--<input type="text" th:value="${course.teachingId}" style="width:300px;" id="teachingId" readonly  unselectable="on" />-->
                </div>
                <div class="form-group" style="margin-left: 10px">
                    <label >课程编号*</label>
                    <label th:text="${course.id}" id="courseId"></label>
                    <!--<input type="text" th:value="${course.id}" style="width:300px;" id="courseId" readonly  unselectable="on" />-->

                </div>
                <div class="form-group" style="margin-left: 10px">
                    <label for="courseDescribe">课程名称*</label>
                    <input type="text" class="form-control" style="width:300px;"
                           id="courseDescribe" th:value="${course.courseDescribe}"  required />
                </div>
                <div class="form-group" style="margin-left: 10px">
                    <label for="price">课程价格*</label>
                    <span id="pricechek" class="error"> </span>
                    <input style="width: 300px" type="text" class="form-control"
                           id="price"   th:value="${course.price}" required />
                </div>
                <div class="form-group" style="margin-left: 10px">
                    <label for="classTime">上课时间*</label>
                    <input style="width: 300px" type="text" class="form-control"
                           id="classTime" th:value="${course.classTime}" required />
                </div>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <input type="submit" class="btn btn-primary" onclick="updateCourse()" style="width:70px;height:40px;"></input>

            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    function updateCourse() {
        // var teachingId = $("#teachingId").val();
        // var courseId = $("#courseId").val();
        var teachingId = $("#teachingId").html();
        var courseId = $("#courseId").html();
        var courseDescribe = $("#courseDescribe").val();
        var price = $("#price").val();
        var classTime = $("#classTime").val();
        var userType = $("#userType").val();

        $.ajax({
            type: "POST",
            url: "/updateCourse",
            contentType: "application/json",
            data: JSON.stringify({
                "courseId":courseId,
                "teachingId":teachingId,
                "courseDescribe": courseDescribe,
                "price": price,
                "classTime": classTime,
                "userType":userType
            }),
            success: function (data) {
                if(data.type == 3){
                    alert("修改成功！")
                    location.reload();
                }
                if(data.type == 2){
                    alert("价格为数字！");
                }
                if(data.type == 1){
                    alert("课程名称不能为空！");
                }
                if(data.type == 0){
                    alert("您无权限修改！");
                }
                if(data.type == 4){
                    alert("价格不能为空！");
                }
            }
        });
    }
    function deleteCourse() {
        var teachingId = $("#teachingId").html();
        var courseId = $("#courseId").html();
        var userType = $("#userType").val();

        var msg = "确定删除该条数据？";
        if (confirm(msg)==true){
            $.ajax({
                type: "POST",
                url: "/deleteCourse",
                contentType: "application/json",
                data: JSON.stringify({
                    "courseId":courseId,
                    "teachingId":teachingId,
                    "userType":userType
                }),
                success: function (data) {

                    if(data.type == 1){
                        alert("删除成功！");
                        window.location.href="/teacher";
                    }
                    if(data.type == 0){
                        alert("您无权限修改！");
                    }
                    if(data.type == 3){
                        alert("删除成功！");
                        window.location.href="/admin";
                    }

                }
            });
            return true;
        }else{
            return false;
        }
    }

    function courseStudents() {
        var teachingId = $("#teachingId").html();
        var courseId = $("#courseId").html();
        var userType = $("#userType").val();

        $.ajax({
            type: "POST",
            url: "/courseStudents",
            contentType: "application/json",
            data: JSON.stringify({
                "courseId": courseId,
                "teachingId": teachingId,
                "userType": userType
            }),
            success: function (data) {

                if (data.type == 1) {
                    alert("删除成功！");
                    window.location.href = "/teacher";
                }
                if (data.type == 0) {
                    alert("您无权限修改！");
                }
                if (data.type == 3) {
                    alert("删除成功！");
                    window.location.href = "/admin";
                }

            }
        });

    }
</script>
<div th:if="${session.user == null}">
    <h1>您未登录!</h1>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">返回主页面</a></p>
</div>
</body>
</html>