<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.js" type="application/javascript"></script>
    <script src="js/vue.min.js" type="application/javascript"></script>

</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>课程</h2>
            <hr>
            <div>
                <dl style="float:left;margin-right: 25px">
                    <dt><img src="images/1.png"></dt>
                    <dd>cms</dd>
                </dl>
                <dl style="float:left;">
                    <dt><img src="images/1.png"></dt>
                    <dd>cms</dd>
                </dl>
                <dl style="float:left;">
                    <dt><img src="images/1.png"></dt>
                    <dd>cms</dd>
                </dl>
                <dl style="float:left;">
                    <dt><img src="images/1.png"></dt>
                    <dd>cms</dd>
                </dl>
                <dl style="float:left;">
                    <dt><img src="images/1.png"></dt>
                    <dd>cms</dd>
                </dl>
                <dl style="float:left;">
                    <dt><img src="images/1.png"></dt>
                    <dd>cms</dd>
                </dl>
                <dl style="float:left;">
                    <dt><img src="images/1.png"></dt>
                    <dd>cms</dd>
                </dl>
                <dl style="float:left;">
                    <dt><img src="images/1.png"></dt>
                    <dd>cms</dd>
                </dl>
                <dl style="float:left;">
                    <dt><img src="images/1.png"></dt>
                    <dd>cms</dd>
                </dl>
                <div style="clear:both;"></div>
            </div>

            <nav aria-label="Page navigation">

            </nav>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>nmsl</h3>
            <h4>·wdnmd <br></h4>
            <h4>·wdnmd<br></h4>
            <h4>·wdnmd<br></h4>
            <h4>·wdnmd<br></h4>
            <h4>·wdnmd<br></h4>
            <h4>·wdnmd<br></h4>
            <h4>·wdnmd<br></h4>
            <h4>·wdnmd<br></h4>
            <h4>·wdnmd<br></h4>
            <h4>·wdnmd<br></h4>
            <h4>·wdnmd<br></h4>
            <h4>·wdnmd<br></h4>
        </div>
    </div>
</div>
</body>
</html>