<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
    <title th:text="${course.courseDescribe}"></title>
    <!--<link rel="stylesheet" th:href="@{/static/css/bootstrap.css}"/>-->
    <!--<link rel="stylesheet" th:href="@{/static/css/bootstrap-theme.min.css}"/>-->
    <!--<link rel="stylesheet" th:href="@{/static/css/community.css}"/>-->
    <!--<script th:href="@{/static/js/community.css}" type="application/javascript"></script>-->
    <!--<script th:href="@{/static/js/bootstrap.min.js}" type="application/javascript"></script>-->
    <!--<script th:href="@{/static/js/jquery-3.3.1.min.js}" type="application/javascript"></script>-->

    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
    <!--<script src="/js/vue.min.js" type="application/javascript"></script>-->
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">培训管理系统</span>
            </button>
            <a class="navbar-brand" href="/">培训管理系统</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" th:action="@{'/course/'+${course.id}+'/students/'+${session.user.userType}}" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" name="search"  placeholder="搜尼玛呢">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right" th:if="${session.user.userType == 0 || session.user.userType == 2}">

            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 style="display: inline-block"><span class="glyphicon glyphicon-list" aria-hidden="true" ></span>本课学生上课信息</h2>
            <button class="btn btn-primary btn-md" type="button"
                    id="deleteButton" onclick="return deleteStudent()" style="margin-left: 70%">移除本课程</button>
            <table class="table table-hover" >
                <tr>
                    <th><input type="checkbox" id="selectAll" name="selectAll" /></th>
                    <th>学生姓名</th>
                    <th>教师姓名</th>
                    <th>课程名称</th>
                    <th>剩余课时</th>
                    <th>上课时间</th>
                    <th>预约状态</th>
                </tr>
                <tr th:each="studentInfo:${pagination.data}">
                   <td><input type="checkbox" class="checkb" name="chooseInfo" id="chooseInfo" th:value="${studentInfo.studentId}"/></td>
                    <td th:text="${studentInfo.studentName}"></td>
                    <td th:text="${studentInfo.teacherName}"></td>
                    <td th:text="${studentInfo.courseName}"></td>
                    <td th:text="${studentInfo.remnantCourse}"></td>
                    <td th:text="${studentInfo.classTime}"></td>
                    <td th:text="${studentInfo.status}"></td>

                </tr>
            </table>
            <a href="/admin" th:if="${session.user.userType == 0}">返回管理员页面</a>
            <a href="/teacher" style="margin-left: 83%" th:if="${session.user.userType == 2}">返回教师页面</a>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a  th:href="@{'/course/'+${course.id}+'/students/'+${session.user.userType}/(page=1,search=${search})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{'/course/'+${course.id}+'/students/'+${session.user.userType}/(page=${pagination.page - 1},search=${search})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page:${pagination.pages}" th:class="${pagination.page == page}? 'active' : ' '"><a
                            th:href="@{'/course/'+${course.id}+'/students/'+${session.user.userType}/(page=${page},search=${search})}" th:text="${page}"></a></li>
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{'/course/'+${course.id}+'/students/'+${session.user.userType}/(page=${pagination.page + 1},search=${search})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{'/course/'+${course.id}+'/students/'+${session.user.userType}/(page=${pagination.totalPage},search=${search})}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            </div>

        </div>

    </div>
</div>
<script>

    function deleteStudent() {
        var str="";
        var sel=document.getElementsByName("chooseInfo");//获取checkbox的值
        var courseId = $("#courseId").val();
        for( var i=0;i<sel.length;i++){
            if(sel[i].checked==true)
                str+=sel[i].value+",";
        }
        if(str==""){
            alert("请至少选择一条记录");
            return false;
        }


        var msg = "确定删除该条数据？";
        if (confirm(msg)==true){


            $.ajax({
                type : "POST",
                contentType: "application/json;charset=UTF-8",
                url : "/batchDeletes",
                data: JSON.stringify({
                    "ids": str
                }),
                success : function(data) {
                    window.location.reload();
                },
                error : function(data) {
                    alert("删除失败!")
                    window.location.reload();

                }
            });
            return true;
        }else{
            return false;
        }
    }
</script>
<script>
    $('input[name="selectAll"]').on("click",function(){
        if($(this).is(':checked')){
            $('input[name="chooseInfo"]').each(function(){
                $(this).prop("checked",true);
            });
        }else{
            $('input[name="chooseInfo"]').each(function(){
                $(this).prop("checked",false);
            });
        }
    });

</script>
</body>
</html>